{{#if name}}

{{heading 3}} {{#ifNamedAnchors}}<a id="{{anchor}}" name="{{this.anchor}}"></a> {{/ifNamedAnchors}}{{{ memberTitle }}}

{{/if}}

{{#if signatures}}

{{#each signatures}}

{{> member.signature }}

{{/each}}

{{else if hasGetterOrSetter}}

{{> member.getterSetter}}

{{else}}

{{> member.declaration}}

{{/if}}

{{#ifIsObjectLiteralType true}}

{{#if children}}

{{#with children}}

{{{propertyTable}}}

{{/with}}

{{/if}}

{{else}}

{{#each groups}}

{{#each children}}

{{#unless hasOwnDocument}}

{{#ifIsLiteralType true}}

{{#if children}}

{{#with children}}

{{{propertyTable}}}

{{/with}}

{{else}}

{{> member.declaration}}

{{/if}}

{{/ifIsLiteralType}}

{{#ifIsLiteralType false}}

{{> member hideHr=true}}

{{/ifIsLiteralType}}

{{/unless}}

{{/each}}

{{/each}}

{{/ifIsObjectLiteralType}}

{{#unless @last}}
{{#unless hideHr}}
___
{{/unless}}
{{/unless}}